/* get rid of default browser sytling */
html body {
	margin: 0px;
	padding: 0px;
}

#logindiv {
	margin: 20px 0px;
	text-align: center;
}

#greetingContent {
	margin: 20px 0px;
	text-align: center;
}